/*  
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 /96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: 2px solid hsl(30, 38%, 92%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
}

/* ******************** */

.section {
}

.container {
  width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 11px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.4rem;
}

.img-desktop {
  height: 100%;
  width: 100%;
}
